
<div *ngIf="!isLoggedIn">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <h1>LOGIN</h1>
          <div class="row">
            <div class="col text-center" style="color:red">
                {{ errMessage }}
            </div>
        </div>  
        </div>
    
        <!-- Login Form -->
        <form [formGroup]="loginForm">
          <input type="text" id="login" class="fadeIn second"  formControlName="staff_id"  name="staff_id" id="staff_id"placeholder="login">
          
          <input formControlName="password" type="password" class="fadeIn third" name="password" id="password" placeholder="Your Password">
          <input type="submit" class="fadeIn fourth" (click)="doLogin()" value="Log In" >
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>





    

<app-main *ngIf="isLoggedIn"></app-main>
